{% extends "base.html" %}
{% block edit %}

	<!-- <div class = "spacer">
		<article class = "item">

		<form method="post" action="/edit/{{item.id}}">
          <input name="word" placeholder="{{item.word}}" class = "input" style = "font-size:20px; height:40px">
          
          <textarea name = "definition" placeholder = "{{item.definition}}" class = "input" style = "height:65px"></textarea>
          <select name = "category" class = "input" style = "height:40px">
				  <option value="noun" {% if item.category == 'noun'%} selected {% endif %}>noun</option>
				  <option value="verb" {% if item.category == 'verb'%} selected {% endif %}>verb</option>
				  <option value="adverb" {% if item.category == 'adverb'%} selected {% endif %}>adverb</option>
				  <option value="adjective" {% if item.category == 'adjective'%} selected {% endif %}>adjective</option>
				  <option value="other" {% if item.category == 'other'%} selected {% endif %}>other</option>
			</select>
          <br><button style = "width:100%; height:40px; font-size:25px" class = "input">update</button>
      </form>

		</article>
	</div> -->

	<div>
		<article class = "form">

		<form method="post" action="{{ url_for('edit', itemID = item.id)}}">
          <!-- <label for="say">What greeting do you want to say?</label> -->
          
          <!-- <label for="to">Who do you want to say it to?</label> -->
          <!-- <textarea name = "definition" placeholder = "definition" class = "input" style = "height:65px"></textarea> -->
          I am
          <select name = "category" class = "input"  style = "height:40px">
          			<option disabled selected value>  </option>
				  <option value="seeing" {% if item.category == 'seeing'%} selected {% endif %}>seeing</option>
				  <option value="hearing" {% if item.category == 'hearing'%} selected {% endif %}>hearing</option>
				  <option value="smelling" {% if item.category == 'smelling'%} selected {% endif %}>smelling</option>
				  <option value="feeling" {% if item.category == 'feeling' %} selected {% endif %}>feeling</option>
				  <option value="tasting" {% if item.category == 'tasting'%} selected {% endif %}>tasting</option>
			</select>
			<input name="entry" placeholder = "{{item.entry}}" class = "input" style = "font-size:20px; height:40px; width:60%">
			<br>
          <br><button style = "width:100%; height:40px; font-size:25px;" class = "input">update</button>
      </form>

		</article>
	</div>





	<div class = "spacer">
	<a href="javascript:history.back()">
	<article class = "item">

	<span class = "back">
	&#8629;
	</span>

	</article>
	</a>
	</div>

	
{% endblock %}