
{% extends "base.html" %}
{% block main %}

{% if not authorized %}

	<div class = "spacer">
	<a href = "/login">
	<article class = "item">
	
	<b>login with Google+</b><br>
	to contribute

	</article>
	</a>
	</div>

{% endif %}

{% if authorized and add %}

	<div class = "spacer">
	<a href = "/add">
	<article class = "item">
	
	<span class = "plus">+</span>
 	
	</article>
	</a>
	</div>

{% endif %}



{% for i in items %}
	<div class = "spacer">
	<a href = "/item/{{i.id}}">
	<article class = "item">
	<span class = "iAm">I am</span>
	<span class = "actionWord">{% if i.category!='touching' %}{{ i.category }}{%else%}feeling the touch of{%endif%}</span> 

	{{i.entry}}
	<!-- <br>
	{{ i.time }} -->

	<!-- {{i.description}}
 -->
 	{% if i.creatorEmail == email %}
 	<br><br>
 	<span class = "yours">yours</span>
 	{% endif %}
 	
	</article>
	</a>
	</div>
	

{% endfor %}
{% endblock %}
