

{% extends "base.html" %}
{% block item %}

	<div class = "spacer">
		<article class = "item">

		
		I was {% if item.category!='touching' %}{{ item.category }}{%else%}feeling the touch of{%endif%}
		{{item.entry}}
		<br><br>

		{{item.time.hour}}:{%if item.time.minute<10%}0{%endif%}{{item.time.minute}}<br>
		{{ item.time.year }}-{{ item.time.month }}-{{item.time.day}} 


		{% if permitted %}

		<br><br><br>
		<span class = "editDelete">
		<a href = "/edit/{{item.id}}">
		<span>edit</span>
		</a> 
		|
		<a href = "/delete/{{item.id}}">
		<span>delete</span>
		</a>
		</span>
		{% endif %}

		</article>
	</div>





	<div class = "spacer">
	<a href="javascript:history.back()">
	<article class = "item">

	<span class = "back">
	&#8629;
	</span>

	</article>
	</a>
	</div>

	


{% endblock %}

