
{% extends "base.html" %}
{% block main %}

{% if not authorized %}

	<div class = "spacer">
	<a href = "/login">
	<article class = "item">
	
	<b>login with Google+</b><br>
	to contribute

	</article>
	</a>
	</div>

{% endif %}

{% if authorized %}

	<div class = "spacer">
	<a href = "/add">
	<article class = "item">
	
	<span class = "plus">+</span>
 	
	</article>
	</a>
	</div>

{% endif %}



{% for i in items %}
	<div class = "spacer">
	<a href = "/item/{{i.id}}">
	<article class = "item">
	

	{{i.word}}

	<!-- {{i.description}}
 -->
 	
	</article>
	</a>
	</div>
	

{% endfor %}
{% endblock %}
